@tailwind preflight;
@tailwind components;
@tailwind utilities;

.h-40 {
  height: 40px;
}

.w-270 {
  width: 272px;
}

.w-200 {
  width: 200px;
}

.bot-msg .botui-message-content,
.bot-msg .botui-message-content.loading {
  @apply bg-white p-4;
}

.bot-btns button {
  @apply bg-blue-light shadow-none rounded-full;
}

.bot-btns button:hover {
  @apply bg-blue;
}

.botui-message:not(.bot-msg) .botui-message-content {
  @apply bg-blue p-4;
  @apply text-white;
}
